grails-app/conf/dependency-report.xml
grails-app/conf/reference.txt
/*.pp
out/
.DS_Store
node-builder-grailsPlugins.iml
node-builder.ids
node-builder.iml
node-builder.ipr
node-builder.iws
projectFilesBackup/
target/
*.db
logs/
.idea/
tmp/
