.green {
    color: green;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

.black {
    color: black;
}

.gray {
    color: #ccc;
}

.centre
{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}